<h1>Signup</h1>

<%= form_tag controller: "authentications", action: "create", method: "post" do %>
  <%= label_tag(:email, "email:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("save") %>
<% end %> 
