<li>
    <%= gravatar_for user, :size => 30 %>
    <%= link_to user.name, user %>
    <% if has_permissions_on?('user','d') %>
        <%= link_to "delete", user, :method => :delete, :confirm => "you sure?",:title => "Delete #{user.name}" %>
    <% end %>   
  </li>
