<h1>Signup</h1>

<%= form_for(@user) do |f| %>
<<<<<<< HEAD
  <%= render 'fields', :f => f %> 
=======
  <%= render 'fields', :f => f %>  
>>>>>>> user-microposts
  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %> 
