
     <p>This page is about the ruby on rails workshop and the details about the sponserers are shown in
     <a href="http://www.railsbridgeboston.org/sponsors"> sponser page</a>
         
     </p> 
 
