     <h1>Contact</h1>
     <p>Contact ruby on rails turotial about the sample app at
     <a href="http://www.railsbridgeboston.org/workshop-info#organizers"> contact page</a>
         
     </p> 
  
