<footer style=''>
  <nav class="round" style='position:absolute;bottom:0;left:10%;width:80%'>
    <ul style='list-style-type:none;background:#f9f9f9;border:1px solid #eee;padding:1%'>
      <li style='display:inline-block;width:30%;text-align:center'><%= link_to "About", about_path %></li>
      <li style='display:inline-block;width:20%;text-align:center'><%= link_to "Contact", contact_path %></li>
      <li style='display:inline-block;width:20%;text-align:center'><a href="http://news.railstutorial.org">News</a></li>
      <li style='display:inline-block;width:20%;text-align:center'><a href="http://railstutorial.org">Rails tutorial</a></li>
    </ul>
  </nav>
</footer>
